doctype html
html(lang="en")
    title="This is a demo"
  body
    p1= grocery_store1.store
    ul
      each item in grocery_store1.list
        li= item

    p1= grocery_store2.store
    ul
      each item in grocery_store2.list
        li= item